@{
#pragma warning disable HTML0209

    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<head>
    @*Aquí vas a poner los estilos css que quieras implementar en la vista*@
    <link href="~/css/Appointments.css" rel="stylesheet" />
</head>

<div id="app">
    <h1>Agenda tu cita aquí</h1>

    <div v-if="user?.fk_Role !== 2" class="card shadow">
        <div class="card-body">
            <!-- Select para seleccionar municipio, consultorio y doctor -->
            <div class= "d-flex">
                <!-- Select para seleccionar un municipio -->
                <div class="form-group">
                    <label for="municipality">Seleccione un municipio:</label>
                    <select id="municipality" v-model="selectedMunicipality" @@change="onMunicipalityChange">
                        <option value="" disabled selected>Seleccione un municipio</option>
                        <option v-for="municipality in municipalities" :value="municipality.id">{{ municipality.name}}</option>
                    </select>
                </div>

                <!-- Select para seleccionar un consultorio -->
                <div class="form-group" v-if="selectedMunicipality">
                    <label for="consultory">Seleccione un consultorio:</label>
                    <select id="consultory" v-model="selectedConsultory" @@change="onConsultoryChange">
                        <option value="" disabled selected>Seleccione un consultorio</option>
                        <option v-for="consultory in consultories" :value="consultory.id">{{ consultory.email }}</option>
                    </select>
                </div>

                <!-- Select para seleccionar un doctor -->
                <div class="form-group" v-if="selectedConsultory">
                    <label for="doctor">Seleccione un doctor:</label>
                    <select id="doctor" v-model="selectedDoctor">
                        <option value="" disabled selected>Seleccione un doctor</option>
                        <option v-for="doctor in filteredDoctors" :value="doctor">{{ doctor.name }}</option>
                    </select>
                </div>
            </div>


            <!-- Notas -->
            <div class="form-group">
                <label for="notes">Notas y sugerencias adicionales:</label>
                <textarea id="notes" v-model="notes" placeholder="Escribe aquí..."></textarea>
            </div>

            <!-- Botón de Enviar -->
            <button @@click="submitAppointment" :disabled="isLoading || notes === ''">
                {{ isLoading ? 'Enviando...' : 'Enviar' }}
            </button>

            <!-- Mensajes de éxito y error -->
            <p v-if="showSuccessMessage" class="success-message">Cita creada con éxito</p>
            <p v-if="showErrorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
    </div>
    <div v-else>

    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*Añade tus scripts en la carpeta "js" en wwwroot*@
    <script src="~/js/Appointments.js" defer></script>

    @*Aquí vas a consumir las APIs que vayas a utilizar*@
    <script>

        //Consumir apis
        window.callApiAsync = '@Url.Action("ConsumeApi", "Home")';

        //redireccionar a vistas
        window.login = '@Url.Action("Login", "Home")';
        window.appointments = '@Url.Action("Appointments", "Home")';
        window.users = '@Url.Action("Users", "Home")';
        window.index = '@Url.Action("Index", "Home")';

        //objeto Usuario
        window.user = @Html.Raw(Json.Serialize(ViewBag.User));
        // ...
    </script>
}