@{
#pragma warning disable HTML0209

    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/css/Appointments.css" rel="stylesheet" />
</head>

<div id="app">
    <h1 v-if="user?.fk_Role === 1"><strong>Administrador de Citas</strong></h1>
    <h1 v-else><strong>{{ user?.fk_Role !== 3 ? 'Agendar cita' : 'Lista de citas'}}</strong></h1>

    <div v-if="user?.fk_Role !== 3 || user?.fk_Role === 1" class="card shadow mb-2">
        <div class="card-body">
            <div class="d-flex">
                <div class="form-group">
                    <label for="municipality">Seleccione un municipio:</label>
                    <select class="shadow custom-fields" id="municipality" v-model="selectedMunicipality" v-on:change="onMunicipalityChange">
                        <option value="" disabled selected>Seleccione un municipio</option>
                        <option v-for="municipality in municipalities" :value="municipality.id">{{ municipality.name}}</option>
                    </select>
                </div>

                <div class="form-group" v-if="selectedMunicipality">
                    <label for="consultory">Seleccione un consultorio:</label>
                    <select class="shadow custom-fields" id="consultory" v-model="selectedConsultory" v-on:change="onConsultoryChange">
                        <option value="" disabled selected>Seleccione un consultorio</option>
                        <option v-for="consultory in consultories" :value="consultory.id">{{ consultory.name }}</option>
                    </select>
                </div>

                <div class="form-group" v-if="selectedConsultory">
                    <label for="doctor">Seleccione un doctor:</label>
                    <select class="shadow custom-fields" id="doctor" v-model="selectedDoctor">
                        <option value="" disabled selected>Seleccione un doctor</option>
                        <option v-for="doctor in doctors" :value="doctor.id">{{ doctor.name }}</option>
                    </select>
                </div>
            </div>

            <div id="map" style="height: 300px; width: 100%; margin-top: 10px;" v-model="map" v-show="selectedMunicipality"></div>

            <div class="form-group">
                <label for="notes">Notas y sugerencias adicionales:</label>
                <textarea class="shadow custom-fields" style="max-height:300px; min-height:100px;" id="notes" v-model="notes" placeholder="Escribe aquí..."></textarea>
            </div>

            <div>
                <button class="btn btn-primary"
                        style="width: 100%;"
                        v-on:click="submitAppointment"
                        :disabled="isLoading || !selectedDoctor">
                    {{ isLoading ? 'Enviando...' : 'Enviar' }}
                </button>
            </div>

            <p v-if="showSuccessMessage" class="success-message">Cita creada con éxito</p>
            <p v-if="showErrorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
    </div>
    <div v-if="user?.fk_Role !== 2">
        <div class="table-container card shadow">
            <table ref="appointmentsTable">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Creada</th>
                        <th>Asignada</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody ref="appointmentTable">
                    <tr v-for="appointment in appointments">
                        <td> {{appointment.patient}}</td>
                        <td> {{appointment.created}}</td>
                        <td> {{appointment.assigned}}</td>
                        <td> {{appointment.status}}</td>
                        <td>
                            <a class="text-danger" v-on:click="deleteAppointment(appointment.id)" style="text-decoration: none; cursor:pointer;">
                                <i class="fa-solid fa-trash-can"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4T46dqB2GT8x840HtcI3oUosqm5P7Olc&callback=initMap" async></script>

    <script src="~/js/Appointments.js" defer></script>

    <script>
        window.callApiAsync = '@Url.Action("ConsumeApi", "Home")';
        window.login = '@Url.Action("Login", "Home")';
        window.appointments = '@Url.Action("Appointments", "Home")';
        window.users = '@Url.Action("Users", "Home")';
        window.index = '@Url.Action("Index", "Home")';

        window.user = @Html.Raw(Json.Serialize(ViewBag.User));

    </script>
}
