@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<head>
    @*Aquí vas a poner los estilos css que quieras implementar en la vista*@
</head>

<div id="indexApp">
    <h1 class="display-4">Bienvenido</h1>
    <p>{{user?.name}}</p>
</div>

@section scripts{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*Aquí vas a consumir las APIs que vayas a utilizar*@
    <script>

        //Consumir apis
        window.callApiAsync = '@Url.Action("ConsumeApi", "Home")';

        //redireccionar a vistas
        window.login = '@Url.Action("Login", "Home")';
        window.appointments = '@Url.Action("Appointments", "Home")';
        window.users = '@Url.Action("Users", "Home")';
        window.index = '@Url.Action("Index", "Home")';

        //objeto Usuario
        window.user = @Html.Raw(Json.Serialize(ViewBag.User));
        // ...
    </script>
    @*Añade tus scripts en la carpeta "js" en wwwroot*@
    <script src="~/js/Index.js"></script>
}