@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<head>
    @*Aquí vas a poner los estilos css que quieras implementar en la vista*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<div style="height:70vh;">
    <h1 class="display-4">Bienvenido</h1>
    <p>{{user?.name}}</p>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 text-center h-50 w-100 justify-content-between">
        <!-- Users Button -->
        <button :class="user?.fk_Role === 1 ? 'flex flex-col items-center justify-center btn btn-outline-info text-black p-12 rounded-3xl shadow-xl w-72 h-72 hover:bg-gray-200 transition col-3 mx-5' : 'flex flex-col items-center justify-center btn btn-outline-info text-black p-12 rounded-3xl shadow-xl w-72 h-72 hover:bg-gray-200 transition col-5 mx-5'" style="height:100%; border-radius:20px;" v-on:click="Users(user?.id_User)" v-if="user?.fk_Role === 1">
            <i class="fas fa-users w-100"></i>
            <span class="text-3xl font-bold">Users</span>
        </button>

        <!-- Appointments Button -->
        <button :class="user?.fk_Role === 1 ? 'flex flex-col items-center justify-center btn btn-outline-info text-black p-12 rounded-3xl shadow-xl w-72 h-72 hover:bg-gray-200 transition col-3 mx-5' : 'flex flex-col items-center justify-center btn btn-outline-info text-black p-12 rounded-3xl shadow-xl w-72 h-72 hover:bg-gray-200 transition col-5 mx-5'" style="height:100%; border-radius:20px;" v-on:click="Appointments(user?.id_User)">
            <i class="fas fa-calendar-check w-100"></i>
            <span class="text-3xl font-bold">Appointments</span>
        </button>

        <!-- Log Out Button -->
        <button class="flex flex-col items-center justify-center btn btn-outline-info text-black p-12 rounded-3xl shadow-xl w-72 h-72 hover:bg-gray-200 transition col-3 mx-5 " style="height:100%; border-radius:20px;" v-on:click="logout()">
                <i class="fas fa-sign-out-alt w-100"></i>
            <span class="text-3xl font-bold">Log Out</span>
        </button>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*Aquí vas a consumir las APIs que vayas a utilizar*@
    <script>

        //Consumir apis
        window.callApiAsync = '@Url.Action("ConsumeApi", "Home")';

        //redireccionar a vistas
        window.login = '@Url.Action("Login", "Home")';
        window.appointments = '@Url.Action("Appointments", "Home")';
        window.users = '@Url.Action("Users", "Home")';
        window.index = '@Url.Action("Index", "Home")';

        //objeto Usuario
        window.user = @Html.Raw(Json.Serialize(ViewBag.User));
        // ...
    </script>
    @*Añade tus scripts en la carpeta "js" en wwwroot*@
    <script src="~/js/Index.js"></script>
}