@{
    Layout = "_Layout";
    ViewData["Title"] = "Users";
}

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="~/css/Users.css" />
</head>

<div>
    <h1><strong>Lista de Usuarios</strong></h1>
    <div class="table-container card shadow">
        <table ref="userTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in users" :key="item.id_user">
                    <td>{{item.name.toUpperCase()}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.role}}</td>
                    <td :class="item.active === 'Activo' ? 'text-success' : 'text-danger'">{{item.active}}</td>
                    <td>
                        <a :class="item.active === 'Activo' ? 'text-danger' : text-success" 
                        v-on:click="blockUser(item)" 
                        style="text-decoration: none; cursor:pointer;">
                            <i :class="item.active === 'Activo' ? 'fas fa-lock' : 'fas fa-unlock-alt'"></i>
                            {{item.active === 'Activo' ? 'Bloquear' : 'Desbloquear'}}</a>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>
</div>

@section scripts{

    @*Añade tus scripts en la carpeta "js" en wwwroot*@
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*Aquí vas a consumir las APIs que vayas a utilizar*@
    <script>
        //Consumir apis
        window.callApiAsync = '@Url.Action("ConsumeApi", "Home")';

        //redireccionar a vistas
        window.login = '@Url.Action("Login", "Home")';
        window.appointments = '@Url.Action("Appointments", "Home")';
        window.users = '@Url.Action("Users", "Home")';
        window.index = '@Url.Action("Index", "Home")';

        //objeto Usuario
        window.user = @Html.Raw(Json.Serialize(ViewBag.User));
        // ...
    </script>
    <script src="~/js/Users.js"></script>

}
